.wrap {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
}

.magnifierRentgen {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.magnifierRentgen .magnifier-loupe {
  overflow: hidden;
  position: absolute;
  border-radius: 10em;
  top: 0;
  left: 0;
  border: #f0f0f0 1px solid;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 8px;
  cursor: none;
  transform: scale(5);
  display: none;
}
